.screenshot {
    max-width: calc(200px + 25vw);
    /* max-height: 500px; */
}

.screenshot img {
    width: 100%
}

.screenshot:hover img {
    transform: scale(1.35);
    box-shadow: 0 0 10px 10px white;
    z-index: 10000;
    position: relative;
    left: 30%;
}